.git
.gitignore

.env
.env.*
!.env.example

storage/app/public/media/
storage/framework/cache/data/
storage/framework/sessions/
storage/framework/views/
storage/logs/

tests/coverage/
.phpunit.result.cache

node_modules/
npm-debug.log*