APP_NAME=TFW
APP_ENV=local
APP_KEY=base64:X0hNEgBkrBSvRZpoa0DxNV9v5251dX+jZm44VBc4Bu8=
APP_DEBUG=true
APP_URL=http://localhost

LOG_CHANNEL=stack
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST=db
DB_PORT=3306
DB_DATABASE=tfw
DB_USERNAME=root
DB_PASSWORD=admin

BROADCAST_DRIVER=log
CACHE_DRIVER=file
FILESYSTEM_DISK=local
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=2880

MEMCACHED_HOST=127.0.0.1

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

STRIPE_LIVE_ENVIRONMENT=false
STRIPE_API_PUBLISHABLE_KEY=pk_test_51LNoA5FR9hiK2RJjERq2vKJY7xWoA9myLK5jXRqGbceMT29DqOW9QkIEA3hC73tDSWlfGgeJrs2YkIu3fgo6qAuB00cYFxm8AC
STRIPE_API_SECRET_KEY=sk_test_51LNoA5FR9hiK2RJjNEAgXBvckM2m2wpttZV21bCRZYuOjIN0UJmYQj8lo3zLcWFFVU9Qk4tkb8xoL8X8ttiZFotr00zfRYLUnx

MAIL_MAILER=mailtrap
MAIL_HOST=mailhog
MAIL_PORT=1025
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null
MAIL_FROM_ADDRESS="hello@example.com"
MAIL_FROM_NAME="${APP_NAME}"

SMTP_RELAY_HOST=chat-smtp-relay.pagesnetwork.com

MAILTRAP_HOST=sandbox.smtp.mailtrap.io
MAILTRAP_PORT=2525
MAILTRAP_ENCRYPTION=tls
MAILTRAP_USERNAME=d33a4dd0f52d8a
MAILTRAP_PASSWORD=8091737d947873

ADMIN_EMAIL_ADDRESS=admin@allpartiesdev.com

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_HOST=
PUSHER_PORT=443
PUSHER_SCHEME=https
PUSHER_APP_CLUSTER=mt1

VITE_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
VITE_PUSHER_HOST="${PUSHER_HOST}"
VITE_PUSHER_PORT="${PUSHER_PORT}"
VITE_PUSHER_SCHEME="${PUSHER_SCHEME}"
VITE_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"

PAYPAL_ENVIRONMENT=sandbox
PAYPAL_REDIRECT_URL="${APP_URL}/"
PAYPAL_CANCEL_URL="${APP_URL}/shop"

PAYPAL_SANDBOX_ACCOUNT=sb-cvsqg22321948@business.example.com
PAYPAL_CLIENT_ID=Aa5VVtxELggqu8DPBZAmGU1WfH0VjOQIHheaHsgbXh-PXia-hTb9XmSpfiJlh8nnPy9bWw19xZNI1qOS
PAYPAL_CLIENT_SECRET=EBSM2QV8mLtnFGWLtn55uv3OAtCPKD4vVmOehwGk3LBo-OG2iUZtchLm7ZDWT4mMfMrZ891aMcGgFe3u

PAYPAL_LIVE_CLIENT_ID=
PAYPAL_LIVE_SECRET_KEY=

# Default Test Account Jon 1
SQUARE_ENVIRONMENT=sandbox
SQUARE_APPLICATION_ID=sandbox-sq0idb-fOLpoXB6-1xQbZ0Io2SVDQ
SQUARE_ACCESS_TOKEN=EAAAEDKydL0_UP6nSSTIZxxXqDz5ZbNRWk7uWdunn7lDGZQE_ZdZrG3hGCmR1lQB
SQUARE_LOCATION_ID=LCRYEMYRH46QT

# Default Test Account Jon 2
# SQUARE_ENVIRONMENT=sandbox
# SQUARE_APPLICATION_ID=sandbox-sq0idb-38WiewPRv8zgINwE6wg2jA
# SQUARE_ACCESS_TOKEN=EAAAl4wFUhEKYJXtQs0UCISn5B9GPZv3cKPafM1YiLwdFDThs9vJ1jAVRxNfFlT4
# SQUARE_LOCATION_ID=LCRYEMYRH46QT
